body {
    /* fondo*/
    /*background: linear-gradient(to right, #93A8AC, #B5BBAF);*/
    background-color: #D7CEB2;
    /* Color del texto */
    color: #000000;
    /* espaciado en el contenido */
    padding: 20px;
    /* Fuente de letra */
    font-family: 'Arial', sans-serif;
}

h1 {
    /* titulo */
    text-align: center;
}

p {
    /* párrafo */
    text-align: justify;
}
.lista{
    font-weight: bold;
}

header {
    background-color: #3498db; /* Color de fondo del encabezado */
    padding: 20px;
    text-align: center;
    color: #ffffff; /* Color del texto del encabezado */
}

header img {
    width: 150px; /* Nuevo tamaño del logotipo */
    height: auto; /* Altura automática para mantener la proporción */
    border-radius: 50%; /* Bordes redondeados para el logotipo */
}

footer {
    background-color: #0f317a; /* Cambia el color a tu preferencia */
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}